<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/f4a41b31-c152-4c86-b46b-87fbff4634fa/resourceGroups/autonomusAPI_group/providers/Microsoft.ContainerRegistry/registries/Autonomus20250918172637</ContainerResourceId>
    <ContainerResourceName>Autonomus20250918172637</ContainerResourceName>
    <Subscription>Azure for Students</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>autonomus20250918172637.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>autonomus</ContainerName>
    <EnvironmentName>Autonomus-env-20250918172056</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://autonomusapi-group.proudglacier-e5fe47e1.brazilsouth.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/f4a41b31-c152-4c86-b46b-87fbff4634fa/resourceGroups/autonomusAPI_group/providers/Microsoft.App/containerapps/autonomusapi-group</ResourceId>
    <ResourceGroup>autonomusAPI_group</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>